{% extends 'base.html' %}
{% block content %}
    <h3>Cart</h3>
    {% if formset %}
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <h6>
                    {{ form.instance.product.name }}
                    {{ form }}
                </h6>
            {% endfor %}
            <button type="submit" class="btn btn-dark">Update Cart</button>
        </form>
    {% else %}
        <h6 class="alert alert-secondary">You have no items in the cart </h6>
    {% endif %}
{% endblock content %}
